body,
html {
  height: 100%;
  font-family: 'Rowdies', cursive;
}

.hero-image {
  background-image: linear-gradient(
      rgba(94, 92, 92, 0.185),
      rgba(49, 48, 48, 0.164)
    ),
    url('../../src/mediaTwo/list-it-marketing-real-estate-sam2.jpg');
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(214, 212, 212);
}

h1 {
  font-size: 4rem;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  color: rgb(223, 223, 223);
  font-size: 4rem;
}

h3 {
  color: rgb(223, 223, 223);
  font-size: 2.5rem;
}

#homeContent {
  text-align: center;
}
ul .btnStarted {
  color: black;
}

ul {
  list-style-type: none;
}

.homeHeroDiv {
  display: grid;
}
.hero-text {
  align-self: bottom;
}

.logoWrapper {
  display: grid;
  align-items: bottom;
  padding: 3rem;
  background-color: rgb(241, 241, 250);
}

.logoImg {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.centerWrap {
  text-align: center;
}

.centerWrap .colItem {
  padding: 0.5rem;
}

.socialLink {
  cursor: pointer;
}

.contactWrapper {
  padding: 0 4rem 3rem 4rem;
}

.typewriter {
  /* font-family: monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
