.smallCaro {
  max-height: 200px;
  max-width: 400px;
}

#textSlide .quotesCarouselClass p {
  color: black;
}

#textSlide .quotesCarouselClass h3 {
  color: black;
}

#textSlide .quotesCarouselClass {
  padding-top: 3rem;
  padding-bottom: 2rem;
  max-height: 200px;
  max-width: 400px;
  align-items: center;
  text-align: center;
  align-content: center;
}
