.safe {
  /* padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; */
  margin: 2rem;
  padding: 2rem;
}
body {
  padding-top: 56px;
}

.carousel-item {
  height: 85vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.profileImage {
  max-width: 100%;
}

/* .carousel-item-temp {
  background-image: url('./mediaTwo/list-it-marketing-real-estate-sam.jpg');
} */

#featureTwo {
  text-align: right;
}
#bioId {
  margin-top: 4rem;
}
/*
.sliderPic {
  height: 100vh;
} */

a:link {
  color: rgb(141, 140, 140) !important;
}

a:visited {
  color: rgb(141, 140, 140) !important;
}

/* .btn .btn-primary {
  background-color: green;
  color: red;
} */

.fullWidth {
  width: 100%;
}

/* a a:visited .nav-link {
  color: solid red;
  background-color: green;
} */

/* * {
  background-color: red;
} */

.mb-4 .btn {
  background-color: rgb(189, 189, 189);
  border-color: rgb(136, 134, 134);
}

.navbar a {
  color: rgb(224, 224, 224) !important;
}

html {
  scroll-behavior: smooth;
}
