/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@media only screen and (max-width: 480px) {
  .hero-text h3 {
    font-size: 2rem;
  }
}

.quotesCarouselClass {
  color: black;
}

/* from the app.css
 */

.safe {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carousel-item {
  height: 85vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(241, 241, 250);
}

/* .card {
  margin: 1rem;
} */

.profileImage {
  max-width: 100%;
}

#featureTwo {
  text-align: right;
}
#bioId {
  text-align: center;
  margin-top: 1rem;
}

a:link {
  color: rgb(141, 140, 140) !important;
}

a:visited {
  color: rgb(141, 140, 140) !important;
}

.fullWidth {
  width: 100%;
}

.mb-4 .btn {
  background-color: rgb(189, 189, 189);
  border-color: rgb(136, 134, 134);
}

.navbar a {
  color: rgb(224, 224, 224) !important;
}

html {
  scroll-behavior: smooth;
}

.bioTitle {
  font-size: 4rem;
}

.row {
  max-width: 100%;
}
